.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### WebStorm ###
/**/.idea/*

### css, html etc. ###
*.html
*.css
*.json
*.gif
*.png
*.jpg
*.ico
